body{margin:1px;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}
h1{
    color: orangered;
    text-align: center;    
}

h2{text-align: center;
}
p{
    text-align: center;
    font-weight: bolder;
}
h3{
    text-align: center;
}

.navbar ul{
    list-style: none;
    background-color: orangered;
    width: 200px;
    height:295px;
    padding-top: 100px;
   border: 1px solid black;
   text-align: center;
    }
    #mypic{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid black;
    }

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size: larger;
    }
a:hover{
    text-align: center;
    color: white;
    background-color: black;
}
#projects{
    color: black;
    text-decoration: underline;
    
}

#projects:hover{
    color: white;
    background-color: black;
    cursor:pointer;
    
}
.info{
    color: orangered;
}
footer p{
    text-align:right;
}
div{
    background-color: orangered;
    height:150px;
    width: 740px;
    border:1px solid black;
    /* float:right; */
    margin: 30px;
    margin-left: 0px;
}
#box1{
    background-color:beige;
    color: orangered;
    font-weight: bolder;
    margin-top: 10px;
}
#education{
    float: right;
    width: 40.5%;
    border: 0px solid black;
    height: 637px;
}
#box2{
    background-color:orangered;
    color:black;
    font-weight: bolder;
    /* float:left; */
    margin-top: -20px;
}
#box3{
    background-color:beige;
    color: orangered;
    font-weight: bolder;
    margin-top: -20px;
}
#box4{
    background-color:orangered;
    color:black;
    font-weight: bolder;
    /* float:left; */
    margin-top: -20px;
}

#photos{
    margin: 0;
    padding: 0;
    float: right;
    width: 80%;
    height: 397px;
    border: 0px solid black;
}
#box5{
    background-color: beige;
    margin: 30px;
    margin-left: 0px;
    height:250px;
    width: 1250px;
    margin-top: -20px;
}
#project2{
 height: 100%;
width: 32.5%;
margin-right: 2px;
border: 1px solid black;
margin-bottom: 0%;

}
#project3{
height: 100%;
width: 32.5%;
margin-right: 1px;
border: 1px solid black;

}
#horiseon{
 height: 100%;
width: 32.5%;
margin-right: 2px;
border: 1px solid black;

}

footer{
    text-align: center; 
    
}